@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bakery-50 text-gray-900;
  }
}

/* Custom scrollbars and styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #FDF8F3;
}
::-webkit-scrollbar-thumb {
  background: #D58235;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9E4C1E;
}
